#h1 {
    direction: rtl;
    background-color: brown;
}

#img {
    padding: 10px;
    margin-bottom: 100px;
}

#link {
    background-color: orange;
    border: 3px groove purple;
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
    margin-right: 88%;
}
.link-back{
    
    background-color: orange;
    border: 3px groove purple;
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
    margin-right: 78%;
    position: fixed;
    top: 93%; 
}