.link {
    background-color: orange;
    border: 3px groove purple;
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
    margin-right: 78%;
}

body {
    background-color: bisque;
}

#renard {
    padding: 100px;
}

.link-back{
    
    background-color: orange;
    border: 3px groove purple;
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
    margin-right: 78%;
    position: fixed;
    top: 93%; 
}